@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Tangerine:wght@400;700&display=swap');
@font-face {
  font-family: 'Santio-bold';
  src: url('../fonts/Santio\ Bold.otf');
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Tangerine', cursive;
font-family: 'Santio-bold', sans-serif;
*/

/* ============================================================
                        GENERAL STYLING
  ============================================================*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* ============================================================
                        FONTS
  ============================================================*/

body{
  font-family: 'Santio-bold', sans-serif;
  background: center/cover no-repeat url('../img/cleo-topper.jpg') fixed;
}

header nav ul li a,
footer a,
footer p:last-child {
  font-family: 'Roboto', sans-serif;
}

header p:last-child {
  font-family: 'Tangerine', cursive;
}


/* ============================================================
                        HEADER
  ============================================================*/

header {
  color: #efefef;
}

/* =============NAVBAR=========== */
header nav ul {
  list-style: none;
  text-align: right;
  padding: 2vh 10vw 2vh 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li img {
  width: 8%;
}

header nav ul li a{
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 0 0 1vw;
  border-bottom: 1px solid #e7bc0e;
}

header nav ul li a:hover {
  text-shadow: 1px 1px 1px #e7bc0e;
}


/* ==========CONTENT============= */

header article {
  padding: 20vh 0 10vh 10vw;
}

header article h1 {
  font-size: 7rem;
}

header article h1:last-of-type {
  margin: 0 0 10vh 0;
}

header article p {
  color: #e7bc0e;
  letter-spacing: -2.5px;
  font-size: 4rem;
  font-weight: 700;
}

.la-angle-down {
  font-size: 3rem;
  vertical-align: -5px;
}


/* ============================================================
                        MAIN BIG PARAGRAPH STYLINGS
  ============================================================*/

  /* GENERAL STYLINGS */

.big_paragraph {
  font-size: 3.5rem;
  line-height: 6rem;
}

.big_paragraph span {
  background: #29272A;
  color: #efefef;
  padding: 5px 7px;
}

/* DIFFERENT STYLINGS */

main section:first-of-type .big_paragraph {
  color: #6bc1a3;
  padding: 30vh 35% 20vh 15%;
}

main section:first-of-type .big_paragraph span{
  margin-right: -5px;
}

main section:nth-of-type(5) .big_paragraph {
  color: #7eb8e1;
  padding: 30vh 10% 50vh 25%;
}
/* ============================================================
                  STYLING SECTION STATS 
  ============================================================*/

/* GENERAL STYLINGS */

.section_stats {
  padding: 30vh 10% 20vh 10%;
}

.section_stats img {
  display: inline-block;
  margin-bottom: 10vh;
  width: 20%;
}

.section_stats h2 {
  font-size: 20rem;
}

.section_stats p {
  font-size: 6rem;
}

.section_stats span {
  background-color: #29272A;
  color: #fff;
  padding: 5px 2.5px;
}

/* DIFFERENT STYLINGS */

.section_stats-worker {
  color: #e7bc0e;
}

.section_stats-pay {
  color: #cb91b6;
}

.section_stats-health {
  color: #6bc1a3;
}

/* ============================================================
                        FOOTER STYLINGS
  ============================================================*/

/* BEACH IMAGE PAGE */

footer {
  background: #efefef;
}

footer section:first-of-type {
  background: bottom/contain no-repeat url('../img/see.png');
  padding: 25vh 0 0 0;
}

footer section:first-of-type img{
  width: 100%;
  vertical-align: bottom;
}

/* DONATE PAGE */
footer section:last-of-type {
  background-color: #000;
  color: #fff;
  padding: 50vh 10% 5vh 10%;
}

footer section:last-of-type h3{
  font-size: 8rem;
  line-height: 10rem;

}

footer section:last-of-type > a{
  display: inline-block;
  color: inherit;
  font-size: 3rem;
  padding: 2.0vh 5%;
  border: solid 2px #fff;
  text-decoration: none;
  margin: 15vh 0 30vh 0;
}

footer section:last-of-type > a:hover{
  box-shadow: 5px 5px 2px #efefef;
}

footer section:last-of-type p{
  text-align: center;
  font-size: 1.6rem;
}

footer section:last-of-type p a{
  color:#6bc1a3;
  text-decoration: none;
}

footer section:last-of-type p a:hover{
  text-decoration: underline;
}